.mainContainer {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
  }
  
  .titleContainer {
    display: flex;
    flex-direction: column;
    font-size: 64px;
    font-weight: bolder;
    align-items: center;
    justify-content: center;
  }
  

  .inputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  

  .inputButton {
    background-color: #619dbf; /* Green background */
    border: none; /* Remove border */
    color: white; /* White text */
    padding: 0.5rem 1rem; /* Padding */
    text-align: center; /* Center text */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Make it inline block */
    font-size: 1rem; /* Font size */
    cursor: pointer; /* Cursor on hover */
    border-radius: 5px; /* Rounded corners */
    transition-duration: 0.4s; /* Animation duration */
  }
  
  /* On hover */
  .inputButton:hover {
    background-color: #4a87e4; /* Darker green */
  }

  .inputButtonNewAccount {
    background-color: #65c074; /* Green background */
    border: none; /* Remove border */
    color: white; /* White text */
    padding: 0.5rem 1rem; /* Padding */
    text-align: center; /* Center text */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Make it inline block */
    font-size: 1rem; /* Font size */
    cursor: pointer; /* Cursor on hover */
    border-radius: 5px; /* Rounded corners */
    transition-duration: 0.4s; /* Animation duration */
  }
  
  /* On hover */
  .inputButtonNewAccount:hover {
    background-color: #83f11b; /* Darker green */
  }

  .inputContainer > .errorLabel {
    font-size: 1rem;
  }